

.blackTree {
	-fx-background-color:#333333;
}

.blackTree .tree-cell {
	-fx-background-color:#333333;
	-fx-text-fill: lightgrey;
}

.blackTree .tree-cell:focused {
	-fx-text-fill: white;
}

.blackTree .tree-cell .arrow{
	-fx-background-color: red;
}

.roundedButton { 
        -fx-background-radius: 5.0em;
        -fx-font: 1.0em "Arial Bold";
        }



.root {
  -fx-background-color: rgba(95.0, 158.0, 160.0, 0.9);
}

.modal-dialog {
  -fx-padding: 20.0;
  -fx-spacing: 10.0;
  -fx-alignment: center;
  -fx-font-size: 20.0;
  -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20.0%), -fx-glass-color);
  -fx-border-color: derive(-fx-glass-color, -20.0%);
  -fx-border-width: 5.0;
  -fx-background-insets: 12.0;
  -fx-border-insets: 10.0;
  -fx-border-radius: 6.0;
  -fx-background-radius: 6.0;
}

.modal-dialog:pressed {
  -fx-cursor: move;
}

.modal-dialog .button:pressed {
  -fx-cursor: default;
}        
